services:
  db:
    image: postgres:15
    container_name: ecommerce-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: catalog_db
    ports:
      - "5433:5432"